block variables
    - var path = self.htmlWebpackPlugin.options
    - var pathToFile = (path.mode == 'development') ? "../../../sources/" : ""
    - var tel = path.file.tel.replace(" ", "");

mixin header(language)
    if language === 'de'
        - var link = "index-pl.html"
        - var flag = "flag-pl"
        - var flagText = "PL"
    else 
        - var link = "index.html"
        - var flag = "flag-de"
        - var flagText = "DE"

    .section-top
        .container
            .top-container
                .phone
                    a(href="tel:" +  tel, title="tel")
                        svg(class="icon")
                            use(href="#icon-phone")
                        span.vd= path.file.tel
                        span.vm Telefon

                .mail
                    a(href="mailto:" + path.file.mail, text="mail")
                        svg(class="icon")
                            use(href="#icon-mail")
                        span.vd= path.file.mail
                        span.vm Mail

                .top-language
                    a(href="./" + link)
                        svg(class=flag)
                            use(href="#"+ flag) 
                        span= flagText

    header.section-header.parallax
        .header-container
            .header-top
                .logo.scroll
                    a(href="#top", title="WorkService KG")
                        svg(class="logo")
                            use(href="#logo")
                .menu.vd
                    ul.scroll
                        each val, i in path.file.menu
                            - var anchor = val.text.replace(' ', '-').replace('ü', 'u')
                            li
                                a(href="#"+anchor, title=val.text.toUpperCase())
                                    = val.text

                .menu-mobile.vm
                    .mobile
                        div.hamburger-on
                            svg(class="menu-h")
                                use(href="#hamburger-on")
                        div.hamburger-off
                            svg(class="menu-h")
                                use(href="#hamburger-off")
        .container
            .header-slogan
                h1!= path.file.titleBig

            .header-keywords
                ul.ul-clear
                    each val, i in path.file.keywords
                        li= val.key