block variables
    - var path = self.htmlWebpackPlugin.options
    - var pathToFile = (path.mode == 'development') ? "../../../sources/" : ""
    - var tel = path.file.tel.replace(" ", "");

mixin header(language)
    if language === 'de'
        - var link = "index-pl.html"
        - var flag = "flag-pl"
        - var flagText = "Polnisch"
    else 
        - var link = "index.html"
        - var flag = "flag-de"
        - var flagText = "Niemiecki"

    .section-top
        .container
            .top-container
                .phone
                    a(href="tel:" +  tel)
                        svg(class="icon")
                            use(xlink:href="#icon-phone")
                        span.vd= path.file.tel
                        span.vm Telefon

                .mail
                    a(href="mailto:" + path.file.mail)
                        svg(class="icon")
                            use(xlink:href="#icon-mail")
                        span.vd= path.file.mail
                        span.vm Email

                .top-language
                    a(href="./" + link)
                        svg(class=flag)
                            use(xlink:href="#"+ flag) 
                        span= flagText

    header.section-header.parallax
        .header-container
            .header-top
                .logo
                    a(href="#top")
                        svg(class="logo")
                            use(xlink:href="#logo")
                .menu.vd
                    ul
                        each val, i in path.file.menu
                            li
                                a(href="#"+val.text.replace(' ', '-'))
                                    = val.text
                .menu-mobile.vm
                    .mobile
                        div.hamburger-on
                            svg(class="menu-h")
                                use(xlink:href="#hamburger-on")
                        div.hamburger-off
                            svg(class="menu-h")
                                use(xlink:href="#hamburger-off")
        .container
            .header-slogan
                h1!= path.file.titleBig

            .header-keywords
                ul.ul-clear
                    each val, i in path.file.keywords
                        li= val.key