block variables
- var path = self.htmlWebpackPlugin.options
- var pathToFile = (path.mode == 'development') ? "../../../sources/" : ""
- var tel = path.file.tel.replace(" ", "");

doctype html
html(lang=path.file.lang dir="ltr" itemscope itemtype="http://schema.org/WebPage")

    include ./includes/head.pug
    include ./includes/header.pug
    include ./includes/svgLogo.pug

    head
        +head(path.file)

    body

        +svgLogo()
        +header(path.file.lang)

        main(class="main")
                each val, i in path.file.items
                    section(id=val.title.replace(' ', '-'))
                        .container
                            h2= val.title
                            .section_description!= val.text
                                if i === 1
                                    .phone
                                        a(href="tel:" + tel)
                                            svg(class="icon")
                                                use(xlink:href="#icon-phone")
                                            span= path.file.tel

                                    .mail
                                        a(href="mailto:" + path.file.mail)
                                            svg(class="icon")
                                                use(xlink:href="#icon-mail")
                                            span= path.file.mail

        script(type='application/ld+json').
            {
                "@context": "http://schema.org/",
                "@type": "WebPage",
                "publisher": "workservicekg.de",
                "author": "#{path.file.schema.author}",
                "datePublished": "#{path.file.schema.datePublished}",
                "dateModified": "#{path.file.schema.dateModified}",
                "url": "http://www.workservicekg.de",
                "headline": "#{path.file.head.description}"
            }

        //- script.
        //-     if('serviceWorker' in navigator) {
        //-         navigator.serviceWorker
        //-             .register('/sw.js')
        //-             .then(function() { console.log("Service Worker Registered"); });
        //-     }

        include ./includes/footer.pug